DIV.calendar {
	POSITION: relative
}
.calendar {
	BORDER-RIGHT: #7d0202 1px solid; BORDER-TOP: #7d0202 1px solid; FONT-SIZE: 11px; BACKGROUND: #f1e7d2; BORDER-LEFT: #7d0202 1px solid; CURSOR: default; COLOR: #000000; BORDER-BOTTOM: #7d0202 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.calendar .button {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND: #BBDDFF; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; TEXT-ALIGN: center
}
.calendar .nav {
	BACKGROUND: url(menuarrow.gif) #BBDDFF no-repeat 100% 100%
}
.calendar THEAD .title {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; BACKGROUND: #1E9CDA; PADDING-BOTTOM: 2px; COLOR: #fff; PADDING-TOP: 2px; TEXT-ALIGN: center
}
.calendar THEAD .headrow {
	BACKGROUND: #BBDDFF; COLOR: #000
}
.calendar THEAD .name {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: #000; PADDING-TOP: 2px; BORDER-BOTTOM: #655 1px solid; TEXT-ALIGN: center
}
.calendar THEAD .weekend {
	COLOR: #db5902
}
.calendar THEAD .hilite {
	BORDER-RIGHT: #7d0202 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #7d0202 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #7d0202 1px solid; COLOR: #000; PADDING-TOP: 1px; BORDER-BOTTOM: #7d0202 1px solid; BACKGROUND-COLOR: #1E9CDA
}
.calendar THEAD .active {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; PADDING-TOP: 2px; BACKGROUND-COLOR: #c77
}
.calendar THEAD .daynames {
	BACKGROUND: #BBDDFF
}
.calendar TBODY .day {
	PADDING-RIGHT: 4px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WIDTH: 2em; PADDING-TOP: 2px; TEXT-ALIGN: right; cursor:pointer;
}
.calendar TBODY .othermonth {
	FONT-SIZE: 80%; COLOR: #bdae90
}
.calendar TBODY .oweekend {
	COLOR: #fbb
}
.calendar TABLE .wn {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 3px; PADDING-LEFT: 2px; BACKGROUND: #BBDDFF; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.calendar TBODY .rowhilite TD {
	BACKGROUND: #ffffff
}
.calendar TBODY .rowhilite TD.wn {
	BACKGROUND: #f1e7d2
}
.calendar TBODY TD.hilite {
	BORDER-RIGHT: #bdae90 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #bdae90 1px solid; PADDING-LEFT: 1px; BACKGROUND: #e4d8bf; PADDING-BOTTOM: 1px; BORDER-LEFT: #bdae90 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #bdae90 1px solid
}
.calendar TBODY TD.active {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND: #ddc; PADDING-BOTTOM: 0px; PADDING-TOP: 2px
}
.calendar TBODY TD.selected {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 1px; FONT-WEIGHT: bold; BACKGROUND: #1E9CDA; PADDING-BOTTOM: 1px; BORDER-LEFT: #000 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #000 1px solid
}
.calendar TBODY TD.weekend {
	COLOR: #db5902
}
.calendar TBODY TD.today {
	FONT-WEIGHT: bold
}
.calendar TBODY .disabled {
	COLOR: #999
}
.calendar TBODY .emptycell {
	VISIBILITY: hidden
}
.calendar TBODY .emptyrow {
	DISPLAY: none
}
.calendar TFOOT .footrow {
	BACKGROUND: #988; COLOR: #000; TEXT-ALIGN: center
}
.calendar TFOOT .ttip {
	BORDER-TOP: #655 1px solid; BACKGROUND: #1E9CDA; COLOR: #fff
}
.calendar TFOOT .hilite {
	BORDER-RIGHT: #7d0202 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #7d0202 1px solid; PADDING-LEFT: 1px; BACKGROUND: #1E9CDA; PADDING-BOTTOM: 1px; BORDER-LEFT: #7d0202 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #7d0202 1px solid
}
.calendar TFOOT .active {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2px; BACKGROUND: #c77; PADDING-BOTTOM: 0px; PADDING-TOP: 2px
}
.calendar .combo {
	BORDER-RIGHT: #655 1px solid; BORDER-TOP: #655 1px solid; DISPLAY: none; FONT-SIZE: 90%; Z-INDEX: 100; BACKGROUND: #e4d8bf; LEFT: 0px; BORDER-LEFT: #655 1px solid; WIDTH: 4em; CURSOR: default; COLOR: #000; BORDER-BOTTOM: #655 1px solid; POSITION: absolute; TOP: 0px
}
.calendar .combo .label {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; TEXT-ALIGN: center
}
.calendar .combo .label-IEfix {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; TEXT-ALIGN: center
}
.calendar .combo .label-IEfix {
	WIDTH: 4em
}
.calendar .combo .hilite {
	BACKGROUND: #fc8
}
.calendar .combo .active {
	BORDER-TOP: #a64 1px solid; FONT-WEIGHT: bold; BACKGROUND: #fee; BORDER-BOTTOM: #a64 1px solid
}
.calendar TD.time {
	PADDING-RIGHT: 0px; BORDER-TOP: #a88 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; BACKGROUND-COLOR: #BBDDFF; TEXT-ALIGN: center
}
.calendar TD.time .hour {
	BORDER-RIGHT: #988 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #988 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; BORDER-LEFT: #988 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #988 1px solid; BACKGROUND-COLOR: #fff
}
.calendar TD.time .minute {
	BORDER-RIGHT: #988 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #988 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; BORDER-LEFT: #988 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #988 1px solid; BACKGROUND-COLOR: #fff
}
.calendar TD.time .ampm {
	BORDER-RIGHT: #988 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #988 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; BORDER-LEFT: #988 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #988 1px solid; BACKGROUND-COLOR: #fff
}
.calendar TD.time .ampm {
	TEXT-ALIGN: center
}
.calendar TD.time .colon {
	PADDING-RIGHT: 2px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.calendar TD.time SPAN.hilite {
	BORDER-LEFT-COLOR: #000; BORDER-BOTTOM-COLOR: #000; COLOR: #fff; BORDER-TOP-COLOR: #000; BACKGROUND-COLOR: #866; BORDER-RIGHT-COLOR: #000
}
.calendar TD.time SPAN.active {
	BORDER-LEFT-COLOR: #db5902; BORDER-BOTTOM-COLOR: #db5902; COLOR: #0f0; BORDER-TOP-COLOR: #db5902; BACKGROUND-COLOR: #000; BORDER-RIGHT-COLOR: #db5902
}
