<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5">
  <display-name>Reportingg</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>S1</display-name>
    <servlet-name>S1</servlet-name>
    <servlet-class>S1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S1</servlet-name>
    <url-pattern>/S1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>S2</display-name>
    <servlet-name>S2</servlet-name>
    <servlet-class>S2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S2</servlet-name>
    <url-pattern>/S2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>S3</display-name>
    <servlet-name>S3</servlet-name>
    <servlet-class>S3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S3</servlet-name>
    <url-pattern>/S3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>S4</display-name>
    <servlet-name>S4</servlet-name>
    <servlet-class>S4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S4</servlet-name>
    <url-pattern>/S4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>S5</display-name>
    <servlet-name>S5</servlet-name>
    <servlet-class>S5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S5</servlet-name>
    <url-pattern>/S5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>S6</display-name>
    <servlet-name>S6</servlet-name>
    <servlet-class>S6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S6</servlet-name>
    <url-pattern>/S6</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>S7</display-name>
    <servlet-name>S7</servlet-name>
    <servlet-class>S7</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S7</servlet-name>
    <url-pattern>/S7</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>S8</display-name>
    <servlet-name>S8</servlet-name>
    <servlet-class>S8</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S8</servlet-name>
    <url-pattern>/S8</url-pattern>
  </servlet-mapping>
</web-app>